@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    background-color: $light-gray;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
}

.card {
    width: 290px;
    max-width: 100%;
    margin-inline: 1rem;
    background-color: $white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 hsla(0, 0%, 0%, 0.2);

    &__image {
        max-width: 100%;
        border-radius: .6rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-block: 1rem;

        &__title {
            text-align: center;
            color: $dark-blue;
            font-weight: 700;
            font-size: 1.4rem;
        }
    
        &__description {
            text-align: center;
            color: $grayish-blue;
            font-weight: 400;
            font-size: 1rem;
        }
    }
}